

/* Fixed NavBar directly below Header */
.NavBar {
  position: fixed;
  top: 10vh; 
  width: 100%;
  background-color: #ff7b00 !important;
  justify-content: center;
}

/* Navbar Links */
.NavBar ul {
  display: flex;
  list-style: none;
  justify-content: center;
  padding: 0;
}

.NavBar ul li a {
  padding: 1em;
  color: white;
  text-transform: uppercase;
  display: inline-block;
  text-decoration: none;
}

.NavBar ul li a.active {
  font-weight: bold;
}
.content {
  align-content: center;
}
