* {
    margin: 0;
    box-sizing: border-box;
}

.card{
    margin: 10px;
    border: 2px solid #ff7b00;
    padding: 5px;
}
.card-title {
    border: 1px solid #ff7b00;
}
.card-content{
    padding: 5px;
}
.card-header{
    font-size: 22px;
}
.button {
    border-radius: 8px;
    border: 1px solid transparent;
    padding: 0.6em 1.2em;
    font-size: 1em;
    font-family: inherit;
    background-color: #ff7b00;
    cursor: pointer;
    transition: border-color 0.25s;
  }